/* Don't change the existing CSS. */

.box{
  color: yellow;
  background-color: blue;
  padding: 10px;
}
p{
  margin: 0;
  padding: 0;
}
#outer-box{
  background-color: purple;
}
.inner-box{
  background-color: red;
}
.white-text{
  color:white;
}